html {
    height: 100%;
}

body{
  background-image: url('/media/site-background.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  font-family: "Roboto Slab", sans-serif;
  color: blue;
}
/* Social Media */

.btn{
    font-size: 2em;
    padding: 25px 5px 0px;
}

/* Logo */
.logo-row{
    padding-top: 20px;
}

#logo{
    object-fit: contain;
    border: 2px solid black;
    width:auto;
}


/* Nav Bar */

.vl{
  border-left: 3px solid black;
  height: 40px;
}

.nav-container{
    width: auto;
    padding-top: inherit;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 600;
}