html {
    height: 100%;
}

body{
  background-image: url('/media/site-background.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  font-family: "Roboto Slab", sans-serif;
  color: blue;

}
/* Social Media */

.btn{
    font-size: 2em;
    padding: 25px 5px 0px;
}

/* Logo */
.logo-row{
    padding-top: 20px;
}

#logo{
    object-fit: contain;
    border: 3px solid black;
    width:auto;
   
}


/* Nav Bar */

.vl{
  border-left: 3px solid black;
  height: 40px;
}

.nav-container{
    width: auto;
    padding-top: inherit;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 600;
}
.navbar-light .navbar-nav .nav-link{
    color: black;
}

/* About */

.portrow{
    padding-top: 10px;
    padding-bottom: 30px;
}

.portait{
    background-color: white;
    padding:3px;
    border: 3px solid black;
    width:auto;
    object-fit: contain;
    display: block; 
    max-width: 100%;
    height: auto;
   
}

.about-text{
    background-color: white;
    color: black;
    border: 3px solid black;
    font-size: 14px;
    font-family: "Roboto Slab", sans-serif;
    padding: 7px;
   
}
/* product cards*/

.card{
    background-color: white;
    padding:3px;
    border: 3px solid black;
    height: 750px;
    color: black;
    padding-bottom: 5px;
}

.card-img-top{
    max-height: 400px;
}




/* Media Query */

@media (max-width: 991px) {
.vl{
   display: none; 
}
.nav-container{
    width: 1170px;
}
}