{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row portrow">
        <div class="col-6 col-sm-6" >
            <img src="/media/colourme.jpg" alt="colour portait"  class="portait" height="400px">
        </div>
        <div class="col-6 col-sm-6"> <img src="/media/bwme.jpg" alt="black and white portait"  class="portait" height="400px" >
        </div>   
    </div>
    <div class="row">
        <p class="about-text">
            I'm a photographer based in West Sussex, England. My specialities are Property, Events and Portrait of which the majority is shot on 35mm SLR or Medium Format SLR.
            All of the property photography is taken on Nikon D810 DSLR.
            I was of the lucky age to grow up using a 35mm camera and my love for photography has blossomed over the years. Spending my time honing my skills as a carpenter I had 
            never intentionally trained to enter the world of photography. Taking photos started out as a hobby that went alongside gigging and playing music across the country, until one day it all came crashing down 
            due too a global pandemic.
           <br>
           <br> 
           The pandemic that took grip opened my eyes to environments through a viewfinder, picking up where I'd left off as a teenager and immersing myself in film photography. Having a way to express myself creatively, emotionally and artistically
            through photography was something i had craved since the loss of playing live music. During all of this I met a gentleman who enjoyed my photography and offered a fantastic opportunity to train me in shooting property. I decided as soon 
            as my training was complete that this was the career for me and photography would take prescedence in my life.
            
        </p>
    </div>
</div>
{% endblock %} 