{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row">
                    {% for services in services %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 pb-3">
                            <div class="card h-100">
                                 <img class="card-img-top h-100" src="{{ services.image.url }}" alt="{{ services.name }}">
                                <div class="card-body pb-0">
                                    <p class="mb-0">{{ services.name }}</p>
                                </div>
                                <div class="card-footer bg-white">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold pb-2">{{ services.description }}</p>   
                                        </div>
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-dark bg-info" data-toggle="modal" data-target="#exampleModalCenter-{{services.id}}">Find Out More</button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModalCenter-{{services.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle-{{services.id}}" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                            <div class="modal-header">
                                                <p class="mb-0">{{ services.name }}</p>
                                              
                                            </div>
                                            <div class="modal-body">
                                                
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
    
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>     
                        </div>
                     {% endfor %}
                </div>
            </div>
        </div>     
{% endblock %}  