{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row">
                    {% for services in services %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 pb-3">
                            <div class="card h-100">
                                 <img class="card-img-top h-100" src="{{ services.image.url }}" alt="{{ services.name }}">
                                <div class="card-body pb-0">
                                    <h4 class="mb-2 text-uppercase text-center">{{ services.name }}</h4>
                                </div>
                                <div class="card-footer bg-white">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold pb-2">{{ services.description }}</p>   
                                        </div>
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-dark bg-info" data-toggle="modal" data-target="#exampleModalCenter-{{services.id}}">Price Information</button>
                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModalCenter-{{services.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle-{{services.id}}" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="mb-0">{{ services.name }}</h4> 
                                            </div>
                                            <div class="modal-body">
                                                <p>{{ services.info }}</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>     
                        </div>
                     {% endfor %}

                </div>
            </div>
        </div> 
        <div class="container bas-con">
            <div class="row">
                 <div class="col-lg-3 col-md-4 col-6">
      <div class="d-block mb-3 mt-4 h-50">
            <img class="img-fluid img-thumbnail" src="{{ MEDIA_URL }}portrait2.jpg" alt="cat portrait">
          </div>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <div class="d-block mb-3 mt-4 h-100">
            <img class="img-fluid img-thumbnail" src="{{ MEDIA_URL }}house3.jpg" alt="external pub photograph">
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <div class="d-block mb-3 mt-4 h-100">
            <img class="img-fluid img-thumbnail" src="{{ MEDIA_URL }}car3.jpg" alt="mustang">
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <div class="d-block mb-3 mt-4 h-100">
            <img class="img-fluid img-thumbnail" src="{{ MEDIA_URL }}portrait4.jpg" alt="women with camera">
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <div class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="{{ MEDIA_URL }}event4.jpg" alt="chainsaw sculpture">
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <div class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="{{ MEDIA_URL }}event2.jpg" alt="woodchopping for fire event">
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <div class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="{{ MEDIA_URL }}house5.jpg" alt="mansion external">
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <div class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="{{ MEDIA_URL }}portrait3.jpg" alt="dog portrait">
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <div class="d-block mb-3 h-100">
            <img class="img-fluid img-thumbnail" src="{{ MEDIA_URL }}house4.jpg" alt="sitting chair windowbay">
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <div class="d-block mb-3 h-100">
            <img class="img-fluid img-thumbnail" src="{{ MEDIA_URL }}event3.jpg" alt="singing bowl event">
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <div class="d-block mb-3 h-100">
            <img class="img-fluid img-thumbnail" src="{{ MEDIA_URL }}house2.jpg" alt="dining room">
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <div class="d-block mb-3 h-100">
            <img class="img-fluid img-thumbnail" src="{{ MEDIA_URL }}car2.jpg" alt="morris minor">
      </div>
    </div>
  </div>
            </div>
          
{% endblock %}  